<configuration scan="true" debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="TIMEOUT-REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/tgm-gateway/dev/timeout-request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>timeout-request.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder  charset="UTF-8">
            <pattern>%-1relative - %d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TOMCAT-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/tgm-manage/tomcat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/tgm-manage/tomcat.%d.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/tgm-manage/tomcat.%d.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
        </triggeringPolicy>

        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="SYSTEM_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/export/logs/tgm-manage/system_error/system_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/export/logs/tgm-manage/system_error/system_error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}||[%thread]||%-5level|%logger{5}||%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 监听非业务系统日志打印到到 system_error.log   -->
    <logger name="com.giants.web.springmvc.exception.BuildExceptionJsonResult" additivity="true">
        <level value="ERROR"/>
        <appender-ref ref="SYSTEM_ERROR"/>
    </logger>

    <logger name="com.giants.analyse.filter.ExecutionTimeProfilerFilter" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="TIMEOUT-REQUEST"/>
    </logger>
    <logger name="org.apache.zookeeper" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="EMAILL" />
        <appender-ref ref="TOMCAT-OUT" />
    </root>
</configuration>